
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.table tr {
	transition: background-color, .8s;
}
.table tr:hover, .table-striped tbody tr:nth-of-type(odd):hover {
	cursor: pointer;
	background-color:#E7D9FB;
}
